<h5><%= @restaurant.name %></h5>
<p><%= @restaurant.city %></p>

<a href="/restaurants">Go back to all restaurants!</a>

<%# Not part of solution, but you can also see params like this %>
<%# on a specific page %>
<%= params %>